/*  Code written by Lincoln Willison
    Last updated 11/2/2025
*/

/* sets the colors and alignment for everything in the body*/
body{
  text-align: center;
  background-color: rgb(8,8,8);
  color: rgb(230,210,000);
}


/* λ */