/*  Code written by Lincoln Willison
    Last updated 12/09/2025
*/

/* sets the colors and alignment for everything in the body*/
body{
  text-align: center;
  background-color: rgb(50,100,200);
  color: rgb(250,100,200);
}

footer{
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
  bottom: 0;
}

img{
  padding: 60px;
}

.padding{
  padding: 10px;
}


/* λ */